# NOTE: Write database password in database.credentials.password

# Default values for socon.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

frontend:
  image:
    repository: thijsray/frontend
    tag: "latest"
    pullPolicy: IfNotPresent
  autoscaler:
    enabled: true
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 60

backend:
  image:
    repository: thijsray/backend
    tag: "latest"
    pullPolicy: IfNotPresent
  autoscaler:
    enabled: true
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 60

database:
  image:
    repository: postgres
    tag: "15.1"
  credentials:
    username: postgres
    password: super_secret_password_change_me
    dbname: postgres
  storage:
    size: "5Gi"
    # Must be "local" if running locally
    # Must be "standard-rwo" if running on GKE (or one of their other supported storage classes)
    storageClassName: "local"

certificates:
  ca_name: "Socon CA"

ingress:
  hostname: "socon.online"
  class: "" # set to gce when running on GKE

